.bingo-field {
  display: grid;
  grid-auto-rows: 100px;
  gap: 5px;
  margin: 5px;
}

.introduction {
  text-align: center;

  h1 {
    padding: 15px;
  }
  .player1 {
    color: white;
    padding: 12px;
    background-color: red;
  }
  .player2 {
    color: white;
    padding: 12px;
    background-color: blue;
  }
}
@media screen and (max-width: 800px) {
  .introduction {
    h1 {
      display: flex;
      flex-direction: column;
    }
  }
}

.winnerButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
